oracle.install.responseFileVersion=/oracle/install/rspfmt_clientinstall_response_schema_v12.1.0
ORACLE_HOSTNAME={{ansible_hostname}}
UNIX_GROUP_NAME={{ oracle_group }}
INVENTORY_LOCATION={{ oracle_inventory_dir }}
SELECTED_LANGUAGES=en
ORACLE_HOME={{ oracle_client_home }}
ORACLE_BASE={{ oracle_base }}
oracle.install.client.installType=Administrator
oracle.install.client.schedulerAgentHostName=
oracle.install.client.schedulerAgentPortNumber=
