oracle.assistants.server|S_SYSPASSWORD={{oracle_password}}
oracle.assistants.server|S_SYSTEMPASSWORD={{oracle_password}}
oracle.assistants.server|S_DBSNMPPASSWORD={{oracle_password}}
oracle.assistants.server|S_PDBADMINPASSWORD={{oracle_password}}
oracle.assistants.server|S_EMADMINPASSWORD={{oracle_password}}
oracle.assistants.server|S_ASMSNMPPASSWORD={{oracle_password}}